# MongoDB Atlas Connection URI
MONGODB_URI=mongodb+srv://admin:admin@cluster0.ds6tsl7.mongodb.net/medidoc_db?retryWrites=true&w=majority&appName=Cluster0

# JWT & Application Settings
JWT_SECRET=MediDocSecretKey2026VeryLongSecretKeyForJWTTokenSigning
AI_SERVICE_URL=http://localhost:5000
